<%- include("../../partials/header") %>
<title>Ajout d'un compte utilisateurs</title>
<%- include("../../partials/nav") %>
<div class="container-fluid">
  <div class="row justify-content-center m-3">
      <div class="col-lg-12 col-md-12">
          <div class="card bg-secondary border-0 mb-0">
              <div class="card-body px-lg-5 py-lg-5">
                  <h1>Ajout d'un compte utilisateur</h1>

                  <form role="form" action="ajoutUtilisateur" method="post">
                    <div class="form-group">
                    </br>
                      <label for="exampleFormControlSelect1">Civilit&eacute</label>
                    </br></br>
                      <select class="form-control" id="civilite">
                        <option>Monsieur</option>
                        <option>Madame</option>
                        <option>Mademoiselle</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input type="input" class="form-control" placeholder="Nom" name="lastname">
                    </div>
                    <div class="form-group">
                      <input type="input" class="form-control" placeholder="Prénom" name="firstname">
                    </div>
                    <div class="form-group">
                      <input type="date" class="form-control" placeholder="Date de naissance" name="date_birth">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control"  placeholder="name@example.com" name="mail">
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control"  placeholder="Telephone" name="tel_nb">
                    </div>
                    <div class="form-group">
                      <input type="input" class="form-control"  placeholder="Numero de securite sociale" name="social_security_number">
                    </div>
                    <div class="form-group">
                      <select class="form-control" id="exampleFormControlSelect1" name="id_role">
                        <option selected="selected" disabled="disabled">R&ocircle</option>
                        <option>Service RH</option>
                        <option>Administrateur</option>
                        <option>Direction</option>
                        <option>Service Communication</option>
                        <option>Salari&eacute</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select class="form-control" id="exampleFormControlSelect1" name="id_service">
                        <option selected="selected" disabled="disabled">Service</option>
                        <option>Production</option>
                        <option>Comptabilite</option>
                        <option>Livraison</option>
                        <option>Logistique</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Adresse</label>
                    </br></br>
                      <div class="form-group">
                        <input type="input" class="form-control" placeholder="Code postal" name="postal_code">
                      </div>
                      <div class="form-group">
                        <input type="input" class="form-control" placeholder="Numéro de rue" name="street_nb">
                      </div>
                      <div class="form-group">
                        <input type="input" class="form-control" placeholder="Rue" name="street">
                      </div>
                      <div class="form-group">
                        <input type="input" class="form-control" placeholder="Ville" name="city">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-outline-light">Valider</button>
                  </br>
                  </form>
                    <a class="link-secondary" href="/UserManagement/UserManagement"><button type="button" class="btn btn-outline-light">Retour</button></a>
              </div>
          </div>
      </div>
  </div>
</div>
<%- include("../../partials/footer") %>