<%- include("../../partials/header") %>
<title>Gestion des utilisateurs</title>
<%- include("../../partials/nav") %>
<div class="container-fluid">
  <div class="row justify-content-center m-3">
    <div class="col-lg-12 col-md-12">
      <div class="card bg-secondary border-0 mb-0">
        <div class="card-body px-lg-5 py-lg-5">
          <h1>Gestion des utilisateurs</h1>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Civilit&eacute</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Pr&eacutenom</th>
                  <th scope="col">Email</th>
                  <th scope="col">T&eacutel&eacutephone</th>
                  <th scope="col">R&ocircle</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Monsieur</td>
                  <td>DUPONT</td>
                  <td>Jean</td>
                  <td>jean.dupont@gmail.com</td>
                  <td>06.84.56.95.24</td>
                  <td>Salari&eacute</td>
                  <td>
                    <a class="link-secondary" href="/pageEditionUtilisateur">
                      <button class="btn btn-icon btn-primary" type="edit">
                          <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                      </button>
                    </a>
                      <!-- Modal -->
                       <!--<a class="link-secondary" href="">-->
                        <button class="btn btn-icon btn-success" type="act/desac" data-toggle="modal" data-target="#modal-default">
                         <span class="btn-inner--icon"><i class="fas fa-toggle-on"></i></span>
                        </button>
                       <!--</a>-->
                         <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                           <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                            <div class="modal-content">
                             <div class="modal-header">
                              <h5 class="modal-title" id="modal-title-default"> Confirmation de choix</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">x</span>
                                </button>
                             </div>
                            <div class="modal-body">
                             <p>Voulez-vous vraiment d&eacutesactiver/activer ce compte ? </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary">Valider</button>
                              <button type="button" class="btn btn-secondary  ml-auto" data-dismiss="modal">Close</button>
                            </div>
                           </div>
                          </div>
                         </div>
                      <!-- Modal -->
                       <!--<a class="link-secondary" href="">-->
                        <button class="btn btn-icon" style="background-color: #D3D3D3" type="supp" data-toggle="modal" data-target="#modal-supp">
                         <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
                        </button>
                       <!--</a>-->
                         <div class="modal fade" id="modal-supp" tabindex="-1" role="dialog" aria-labelledby="modal-supp" aria-hidden="true">
                           <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                            <div class="modal-content">
                             <div class="modal-header">
                              <h5 class="modal-title" id="modal-title-default"> Confirmation de choix</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">x</span>
                                </button>
                             </div>
                            <div class="modal-body">
                             <p>Voulez-vous vraiment supprimer ce compte ? </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary">Valider</button>
                              <button type="button" class="btn btn-secondary  ml-auto" data-dismiss="modal">Close</button>
                            </div>
                           </div>
                          </div>
                         </div>
                  </td>
                </tr>
                <tr>
                  <td>Madame</td>
                  <td>MALOU</td>
                  <td>Sophie</td>
                  <td>sophie.malou@hotmail.com</td>
                  <td>06.46.82.46.12</td>
                  <td>Salari&eacute du service RH</td>
                  <td>
                    <a class="link-secondary" href="/pageEditionUtilisateur">
                      <button class="btn btn-icon btn-primary" type="edit">
                       <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                      </button>
                    </a>
                     <!-- Modal -->
                       <!--<a class="link-secondary" href="">-->
                        <button class="btn btn-icon btn-danger" type="act/desac" data-toggle="modal" data-target="#modal-default">
                         <span class="btn-inner--icon"><i class="fas fa-toggle-off"></i></span>
                        </button>
                       <!--</a>-->
                         <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                           <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                            <div class="modal-content">
                             <div class="modal-header">
                              <h5 class="modal-title" id="modal-title-default"> Confirmation de choix</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">x</span>
                                </button>
                             </div>
                            <div class="modal-body">
                             <p>Voulez-vous vraiment d&eacutesactiver/activer ce compte ? </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary">Valider</button>
                              <button type="button" class="btn btn-secondary  ml-auto" data-dismiss="modal">Close</button>
                            </div>
                           </div>
                          </div>
                         </div>
                     <!-- Modal -->
                       <!--<a class="link-secondary" href="">-->
                        <button class="btn btn-icon" style="background-color: #D3D3D3" type="supp" data-toggle="modal" data-target="#modal-supp">
                         <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
                        </button>
                       <!--</a>-->
                         <div class="modal fade" id="modal-supp" tabindex="-1" role="dialog" aria-labelledby="modal-supp" aria-hidden="true">
                           <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                            <div class="modal-content">
                             <div class="modal-header">
                              <h5 class="modal-title" id="modal-title-default"> Confirmation de choix</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">x</span>
                                </button>
                             </div>
                            <div class="modal-body">
                             <p>Voulez-vous vraiment supprimer ce compte ? </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary">Valider</button>
                              <button type="button" class="btn btn-secondary  ml-auto" data-dismiss="modal">Close</button>
                            </div>
                           </div>
                          </div>
                         </div>
                  </td>
                </tr>
                <tr>
                  <td>Mademoiselle</td>
                  <td>Pottier</td>
                  <td>Domitille</td>
                  <td>domitille.pottier@outlook.fr</td>
                  <td>06.78.59.42.57</td>
                  <td>Direction</td>
                  <td>
                   <a class="link-secondary" href="/pageEditionUtilisateur">
                    <button class="btn btn-icon btn-primary" type="edit">
                      <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                    </button>
                   </a>
                     <!-- Modal -->
                       <!--<a class="link-secondary" href="">-->
                        <button class="btn btn-icon btn-success" type="act/desac" data-toggle="modal" data-target="#modal-default">
                         <span class="btn-inner--icon"><i class="fas fa-toggle-on"></i></span>
                        </button>
                       <!--</a>-->
                         <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                           <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                            <div class="modal-content">
                             <div class="modal-header">
                              <h5 class="modal-title" id="modal-title-default"> Confirmation de choix</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">x</span>
                                </button>
                             </div>
                            <div class="modal-body">
                             <p>Voulez-vous vraiment d&eacutesactiver/activer ce compte ? </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary">Valider</button>
                              <button type="button" class="btn btn-secondary  ml-auto" data-dismiss="modal">Close</button>
                            </div>
                           </div>
                          </div>
                         </div>
                     <!-- Modal -->
                       <!--<a class="link-secondary" href="">-->
                        <button class="btn btn-icon" style="background-color: #D3D3D3" type="supp" data-toggle="modal" data-target="#modal-supp">
                         <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
                        </button>
                       <!--</a>-->
                         <div class="modal fade" id="modal-supp" tabindex="-1" role="dialog" aria-labelledby="modal-supp" aria-hidden="true">
                           <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                            <div class="modal-content">
                             <div class="modal-header">
                              <h5 class="modal-title" id="modal-title-default"> Confirmation de choix</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">x</span>
                                </button>
                             </div>
                            <div class="modal-body">
                             <p>Voulez-vous vraiment supprimer ce compte ? </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary">Valider</button>
                              <button type="button" class="btn btn-secondary  ml-auto" data-dismiss="modal">Close</button>
                            </div>
                           </div>
                          </div>
                         </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </br></br>
          <a class="link-secondary" href="/pageAjoutUtilisateur"><button type="button" class="btn btn-outline-light float-right">Ajouter un compte</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../../partials/footer") %>
