<%- include("../partials/header") %>
<%- include("../partials/nav") %>
<div class="container-fluid">
  <div class="row justify-content-center m-3">
    <div class="col-lg-12 col-md-12">
      <div class="card bg-secondary border-0 mb-0">
        <div class="card-body px-lg-5 py-lg-5">
          <h1>Gestion des actualités</h1>

          <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Categories 1</a>
              <a class="dropdown-item" href="#">Categories 2</a>
              <a class="dropdown-item" href="#">Categories 3</a>
              </div>
          </div>

          <br><br><br>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 10%;">Nom</th>
                  <th scope="col" style="width: 20%;">image</th>
                  <th scope="col" style="width: 40%;">contenu</th>
                  <th scope="col" style="width: 15%;">date</th>
                  <th scope="col" style="width: 15%;">Gestion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Météo</td>
                  <td> <img class="rounded" style="width: 200px;" src="./img/fonderie.jpg" alt="image"></td>
                  <td> Météo du jour</td>
                  <td>27/12/2020</td>
                  <td>
                    <button class="btn btn-icon btn-primary" type="edit">
                      <a class="link-secondary" href=""><span class="btn-inner--icon"><i class="far fa-edit"></i></i></span></a>
                    </button>
                    <button class="btn btn-icon btn-success" type="act/desac">
                      <a class="link-secondary" href=""><span class="btn-inner--icon"><i class="fas fa-toggle-off"></i></span></a>
                    </button>
                    <button class="btn btn-icon btn-danger" type="supp">
                      <a class="link-secondary" href=""><span class="btn-inner--icon"><i class="fas fa-trash"></i></span></a>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Menu du jour</td>
                  <td><img class="rounded" style="width: 200px;" src="./img/logo_endemik.png" alt="image"></td>
                  <td>Menu du jour</td>
                  <td>27/12/2020</td>
                  <td>
                    <button class="btn btn-icon btn-primary" type="edit">
                      <a class="link-secondary" href=""><span class="btn-inner--icon"><i class="far fa-edit"></i></span></a>
                    </button>
                    <button class="btn btn-icon btn-success" type="act/desac">
                      <a class="link-secondary" href=""><span class="btn-inner--icon"><i class="fas fa-toggle-off"></i></span></a>
                    </button>
                    <button class="btn btn-icon btn-danger" type="supp">
                      <a class="link-secondary" href=""><span class="btn-inner--icon"><i class="fas fa-trash"></i></span></a>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Nouvelle fonderie</td>
                  <td>  <img class="rounded" style="width: 200px;" src="./img/fonderie3.jpg" alt="image"></td>
                  <td> Voici la nouvelle fonderie.</td>
                  <td>27/12/2020</td>
                  <td>
                    <button class="btn btn-icon btn-primary" type="edit">
                      <a class="link-secondary" href=""><span class="btn-inner--icon"><i class="far fa-edit"></i></span></a>
                    </button>
                    <button class="btn btn-icon btn-success" type="act/desac">
                      <a class="link-secondary" href=""><span class="btn-inner--icon"><i class="fas fa-toggle-off"></i></span></a>
                    </button>
                    <button class="btn btn-icon btn-danger" type="supp">
                      <a class="link-secondary" href=""><span class="btn-inner--icon"><i class="fas fa-trash"></i></span></a>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <button type="button" class="btn btn-outline-light float-right"><a class="link-secondary" href="">Ajouter une actualité</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
