<%- include("../partials/header") %>
<title>Gestion des congés</title>
<%- include("../partials/nav") %>
<div class="row justify-content-center m-3">
    <div class="col-lg-12 col-md-12">
        <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 py-lg-5">
                <h1>Gestion des congés</h1>
                <div class="row">
                    <div class="card col-12 col-md-6">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 col-3">
                                    <span class="avatar avatar-m rounded-circle">
                                        <img alt="Image placeholder" src="./asset/img/theme/team-4.jpg">
                                    </span>
                                </div>
                                <h5 class="card-title mt-3 col-9">M. SÉZAR Jules</h5>
                            </div>
                        
                            
                            <p class="card-text mt-2">M. SÉZAR Jules demande un congé de type RTT, du "jj mois AAAA" au "jj mois AAAA".</p>
                            <div class="d-flex flex-row justify-content-sm-end justify-content-center">
                                
                                <button type="button" class="btn btn-success m-1 px-5 px-sm-5"><i class="fas fa-check"></i></button>
                                <button type="button" class="btn btn-danger m-1 px-5 px-sm-5"><i class="fas fa-times"></i></button>
                            </div>
                        
                        </div>
                    </div>
                    <div class="card col-12 col-md-6">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 col-3">
                                    <span class="avatar avatar-m rounded-circle">
                                        <img alt="Image placeholder" src="./asset/img/theme/team-4.jpg">
                                    </span>
                                </div>
                                <h5 class="card-title mt-3 col-9">Mme VARTANT Sylvie</h5>
                            </div>
                        
                            
                            <p class="card-text mt-2">Mme VARTANT Sylvie demande un congé de type Congé payés, du "jj mois AAAA" au "jj mois AAAA".</p>
                            <div class="d-flex flex-row justify-content-sm-end justify-content-center">
                                
                                <button type="button" class="btn btn-success m-1 px-5 px-sm-5"><i class="fas fa-check"></i></button>
                                <button type="button" class="btn btn-danger m-1 px-5 px-sm-5"><i class="fas fa-times"></i></button>
                            </div>
                        
                        </div>
                    </div>
                    <div class="card col-12 col-md-6">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 col-3">
                                    <span class="avatar avatar-m rounded-circle">
                                        <img alt="Image placeholder" src="./asset/img/theme/team-4.jpg">
                                    </span>
                                </div>
                                <h5 class="card-title mt-3 col-9">M. CAUPER Jean-François</h5>
                            </div>
                        
                            
                            <p class="card-text mt-2">M. CAUPER Jean-François demande un congé de type RTT, du "jj mois AAAA" au "jj mois AAAA".</p>
                            <div class="d-flex flex-row justify-content-sm-end justify-content-center">
                                
                                <button type="button" class="btn btn-success m-1 px-5 px-sm-5"><i class="fas fa-check"></i></button>
                                <button type="button" class="btn btn-danger m-1 px-5 px-sm-5"><i class="fas fa-times"></i></button>
                            </div>
                        
                        </div>
                    </div>
                    <div class="card col-12 col-md-6">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 col-3">
                                    <span class="avatar avatar-m rounded-circle">
                                        <img alt="Image placeholder" src="./asset/img/theme/team-4.jpg">
                                    </span>
                                </div>
                                <h5 class="card-title mt-3 col-9">M. LEPERCE Julien</h5>
                            </div>
                        
                            
                            <p class="card-text mt-2">M. LEPERCE Julien Jean-François demande un congé de type congés payés, du "jj mois AAAA" au "jj mois AAAA".</p>
                            <div class="d-flex flex-row justify-content-sm-end justify-content-center">
                                
                                <button type="button" class="btn btn-success m-1 px-5 px-sm-5"><i class="fas fa-check"></i></button>
                                <button type="button" class="btn btn-danger m-1 px-5 px-sm-5"><i class="fas fa-times"></i></button>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>
